<%
  const icon = require('@/components/icon/icon.ejs')
%>

<div class="styleguide">
  <div class="container">
    <h1 class="styleguide__title">Styleguide</h1>
    <div class="styleguide__cols">
<!--      <div class="styleguide__col">-->
<!--        <img src="https://picsum.photos/id/122/1072/708" alt="#" width="1072" height="708">-->
<!--      </div>-->
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Hamburger</h2>
        <app-hamburger></app-hamburger>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle" data-modal="main-modal" role="button" tabindex="0">Modal</h2>
        <app-button variant="primary" data-modal="main-modal">Open Modal</app-button>
        <app-modal id.="other-modal">
          <p>
            <app-button variant="primary" data-collapse="other-collapse">Toggle</app-button>
          </p>
          <app-collapse id.="other-collapse" visible>
            <div class="styleguide__slide"></div>
          </app-collapse>
        </app-modal>
        <app-modal class="main-modal" id.="main-modal">
          <app-swiper navigation pagination id="modal-swiper">
            <app-swiper-slide>
              <div class="styleguide__slide">
                <app-input
                  placeholder="Type your name"
                  name="name"
                  autofocus
                ></app-input>
              </div>
            </app-swiper-slide>
            <app-swiper-slide>
              <div class="styleguide__slide">2</div>
            </app-swiper-slide>
            <app-swiper-slide>
              <div class="styleguide__slide">3</div>
            </app-swiper-slide>
            <app-swiper-slide>
              <div class="styleguide__slide">4</div>
            </app-swiper-slide>
            <app-swiper-slide>
              <div class="styleguide__slide">5</div>
            </app-swiper-slide>
          </app-swiper>
          <br>
          <p>
            <app-button variant="primary" data-modal="other-modal">Open Other</app-button>
          </p>
        </app-modal>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Swiper</h2>
        <app-swiper navigation pagination>
          <app-swiper-slide>
            <div class="styleguide__slide">
              <app-input
                label="Input inside swiper"
                placeholder="Type..."
                name="name"
              ></app-input>
            </div>
          </app-swiper-slide>
          <app-swiper-slide>
            <div class="styleguide__slide">2</div>
          </app-swiper-slide>
          <app-swiper-slide>
            <div class="styleguide__slide">3</div>
          </app-swiper-slide>
          <app-swiper-slide>
            <div class="styleguide__slide">4</div>
          </app-swiper-slide>
          <app-swiper-slide>
            <div class="styleguide__slide">5</div>
          </app-swiper-slide>
        </app-swiper>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle" data-collapse="main-collapse" role="button" tabindex="0">Collapse</h2>
        <p>
          <app-button variant="primary" data-collapse="main-collapse" data-class="collapsed__class">Toggle</app-button>
        </p>
        <app-collapse id.="main-collapse" visible accordion="collapse">
          <div class="styleguide__slide"></div>
        </app-collapse>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Button</h2>
        <div class="styleguide__buttons">
          <div class="styleguide__button">
            <app-button variant="primary">Default</app-button>
          </div>
          <div class="styleguide__button">
            <app-button variant="primary" loading>With spinner</app-button>
          </div>
          <div class="styleguide__button">
            <app-button variant="primary" size="small">Small</app-button>
          </div>
          <div class="styleguide__button">
            <app-button variant="primary" size="large" disabled="true">
              Large disabled
              <%= icon({ name: 'house', right: true }) %>
            </app-button>
          </div>
        </div>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Spinner</h2>
        <app-spinner size="60" width="2"></app-spinner>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Lazy Img in text</h2>
        <p>
          <app-lazy-image
            src="https://picsum.photos/id/122/1072/708"
            class="styleguide__img-in-text"
            alt="#"
            width="1072"
            height="708"
            style="--aspect-ratio: calc(1072 / 708)"
          ></app-lazy-image>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores delectus deserunt, dicta doloribus eligendi iusto nemo officia perferendis, praesentium provident recusandae, rerum ullam. Alias blanditiis, deserunt dolor esse ex incidunt labore nihil officia omnis placeat quaerat quas rem sint! Aut cum dicta expedita, hic labore quod ullam. Iusto, repellendus vitae. Deleniti itaque quam qui quisquam quo? Ab aperiam asperiores consequuntur deleniti dolore dolorum ducimus est et illum incidunt ipsa itaque iure laborum magni necessitatibus neque optio quod repellat reprehenderit, sequi sint soluta tempore vero. Atque dignissimos est facere impedit ipsam maiores minima, nesciunt nihil non quae qui repudiandae voluptatem.
        </p>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Lazy Img</h2>
        <div class="styleguide__gallery">
          <div class="styleguide__gallery-item">
            <app-lazy-image
              src="https://picsum.photos/id/237/1072/708"
              src-placeholder="https://picsum.photos/id/237/10/7"
              class="styleguide__gallery-img"
              alt="#"
            ></app-lazy-image>
          </div>
          <div class="styleguide__gallery-item">
            <app-lazy-image
              src="https://picsum.photos/id/866/1072/708"
              alt="#"
              class="styleguide__gallery-img"
              picture
            >
              <source media="(max-width: 575px)" srcset="https://picsum.photos/id/237/1072/708" />
              <source media="(max-width: 767px)" srcset="https://picsum.photos/id/1084/1072/708" />
            </app-lazy-image>
          </div>
          <div class="styleguide__gallery-item">
            <app-lazy-image
              src="https://picsum.photos/id/1032/1072/708"
              srcset="https://picsum.photos/id/237/200/132 200w,
              https://picsum.photos/id/1084/400/264 400w,
              https://picsum.photos/id/1018/600/396 600w,
              https://picsum.photos/id/354/800/528 800w,
              https://picsum.photos/id/1032/1072/708 1072w"
              sizes="(max-width: 767px) 33.333vw, 16.666vw"
              class="styleguide__gallery-img"
              alt="#"
            ></app-lazy-image>
          </div>
        </div>
      </div>
<!--      <div class="styleguide__col">-->
<!--        <h2 class="styleguide__subtitle">Test</h2>-->
<!--        <app-test></app-test>-->
<!--      </div>-->
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Tabs</h2>
        <app-tabs index="3">
          <app-tab-list>
            <app-tab>one</app-tab>
            <app-tab>two</app-tab>
            <app-tab>three</app-tab>
            <app-tab>one</app-tab>
            <app-tab>two</app-tab>
            <app-tab>three</app-tab>
            <app-tab>one</app-tab>
            <app-tab>two</app-tab>
            <app-tab>three</app-tab>
            <app-tab>one</app-tab>
            <app-tab>two</app-tab>
            <app-tab>three</app-tab>
          </app-tab-list>
          <app-tab-panel>
<!--            <app-swiper navigation pagination>-->
<!--              <app-swiper-slide>-->
<!--                <div class="styleguide__slide">1</div>-->
<!--              </app-swiper-slide>-->
<!--              <app-swiper-slide>-->
<!--                <div class="styleguide__slide">2</div>-->
<!--              </app-swiper-slide>-->
<!--              <app-swiper-slide>-->
<!--                <div class="styleguide__slide">3</div>-->
<!--              </app-swiper-slide>-->
<!--              <app-swiper-slide>-->
<!--                <div class="styleguide__slide">4</div>-->
<!--              </app-swiper-slide>-->
<!--              <app-swiper-slide>-->
<!--                <div class="styleguide__slide">5</div>-->
<!--              </app-swiper-slide>-->
<!--            </app-swiper>-->
          </app-tab-panel>
          <app-tab-panel>Second panel</app-tab-panel>
          <app-tab-panel>Third panel</app-tab-panel>
          <app-tab-panel>
            <app-tabs index="1">
              <app-tab-list>
                <app-tab>one</app-tab>
                <app-tab>two</app-tab>
                <app-tab>three</app-tab>
                <app-tab>one</app-tab>
              </app-tab-list>
              <app-tab-panel>First panel</app-tab-panel>
              <app-tab-panel>Second panel</app-tab-panel>
              <app-tab-panel>Third panel</app-tab-panel>
              <app-tab-panel>Fourth panel</app-tab-panel>
            </app-tabs>
          </app-tab-panel>
          <app-tab-panel>Second panel</app-tab-panel>
          <app-tab-panel>Third panel</app-tab-panel>
          <app-tab-panel>First panel</app-tab-panel>
          <app-tab-panel>Second panel</app-tab-panel>
          <app-tab-panel>Third panel</app-tab-panel>
          <app-tab-panel>First panel</app-tab-panel>
          <app-tab-panel>Second panel</app-tab-panel>
          <app-tab-panel>Third panel</app-tab-panel>
        </app-tabs>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Icon</h2>
        <p style="font-size: 30px">
          <%= icon({ name: 'logo', img: true, left: true, class: 'bla' }) %>
          <%= icon({ name: 'house', className: 'block__element' }) %>
          <%= icon({ name: 'lock', img: true }) %>
          <%= icon({ name: 'close', right: true }) %>
        </p>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Input</h2>
        <app-input
          id.="some-id"
          value="default value"
          label="Name"
          placeholder="Type your name"
          name="name"
          class="block__element"
          style="width: 100%;"
        ></app-input>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">File Input</h2>
        <app-file-input></app-file-input>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Checkbox</h2>
        <div class="styleguide__options">
          <div class="styleguide__option">
            <app-checkbox
              label="Checkbox one"
              name="checkbox[]"
              value="checkbox-a"
            ></app-checkbox>
          </div>
          <div class="styleguide__option">
            <app-checkbox
              label="Checkbox two"
              name="checkbox[]"
              value="checkbox-b"
              checked="checked"
            ></app-checkbox>
          </div>
        </div>
      </div>
      <div class="styleguide__col">
        <h2 class="styleguide__subtitle">Radio</h2>
        <div class="styleguide__options">
          <div class="styleguide__option">
            <app-radio
              label="Radio one"
              name="radio"
              value="radio-a"
            ></app-radio>
          </div>
          <div class="styleguide__option">
            <app-radio
              label="Radio two"
              name="radio"
              value="radio-b"
              checked="checked"
            ></app-radio>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-to-top></app-to-top>
</div>
